<footer class="footer">
    <div class="footer-content">

        <p class="footer-text">© 2026 Iluteenused</p>

        <div class="social-links">
            <a href="https://www.facebook.com/profile.php?id=61585951874235" target="_blank" aria-label="Facebook">
                <svg viewBox="0 0 24 24" class="icon">
                    <path d="M22 12a10 10 0 1 0-11.5 9.9v-7h-2.2v-2.9h2.2V9.7c0-2.2 1.3-3.4 3.3-3.4.9 0 1.9.2 1.9.2v2.1h-1.1c-1.1 0-1.5.7-1.5 1.4v1.7h2.6l-.4 2.9h-2.2v7A10 10 0 0 0 22 12z"/>
                </svg>
            </a>

            <a href="https://www.instagram.com/nailsmairi" target="_blank" aria-label="Instagram">
                <svg viewBox="0 0 24 24" class="icon">
                    <path d="M7 2C4.2 2 2 4.2 2 7v10c0 2.8 2.2 5 5 5h10c2.8 0 5-2.2 5-5V7c0-2.8-2.2-5-5-5H7zm5 5.2A4.8 4.8 0 1 1 7.2 12 4.8 4.8 0 0 1 12 7.2zm6.3-.9a1.1 1.1 0 1 1-1.1 1.1 1.1 1.1 0 0 1 1.1-1.1zM12 9a3 3 0 1 0 3 3 3 3 0 0 0-3-3z"/>
                </svg>
            </a>
        </div>

    </div>
</footer>

<button id="scrollTopBtn">↑</button>
<script src="/js/main.js"></script>
</body>
</html>